# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal


# dotenv environment variables
.env
*.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Migrations (Optional, keep if you want to version control them)
**/migrations/*.pyc
**/migrations/__pycache__/

# MyPy
.mypy_cache/

# pytest
.pytest_cache/

# Celery beat schedule
celerybeat-schedule

# JWT tokens or secret files if any custom:
jwt_secret.json
